:root {
  --primary-color: #fff;
  --secondary-color: #006eff;
  --font-color: #424242;
  --image-color: linear-gradient(
    71.9deg,
    rgba(0, 0, 5, .5), rgba(0, 0, 5, .5)
  );
  --box-shadow: rgba(0, 0, 0, 0.2);
  --btn: var(--secondary-color);
  --btn-hover: rgb(0, 209, 105);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  scroll-behavior: smooth;
}

body {
  font-family: "Comfortaa", cursive;
  font-size: 12px;
  color: var(--font-color);
}

/*
* Hero
*/

.hero {
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 100%;
  text-align: center;
  background: var(--image-color), url("../public/images/heros/hero-image_1.jpg");
  background-position: center;
  background-color: var(--primary-color);
  object-fit: cover;
}

.hero__inner {
  align-self: center;
  width: 100%;
  margin: auto 0;
  padding-bottom: 3em;
}

.hero__title {
  color: var(--primary-color);
  font-weight: 800px;
  font-size: xx-large;
}

.hero__tagline {
  color: var(--primary-color);
  margin: 16px;
  font-size: 18px;
  font-weight: 300;
  word-spacing: 2px;
  line-height: 1.36em;
}

/*
* Top level navigation
*/

.app-bar {
  padding: 8px 16px;
  background-color: var(--secondary-color);
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
  color: var(--primary-color);
}

.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__brand h1 {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 22px;
  user-select: none;
}

.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: var(--secondary-color);
  overflow: hidden;
}

.app-bar .app-bar__navigation.open {
  left: 0;
}

.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-color);
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
}

.app-bar__navigation a::selection{
  font-size: medium;
  color: var(--btn-hover);
  border-bottom: 1px solid var(--btn-hover);
}

/*
* main
*/

main {
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
}

.container {
  margin: 1.3em 10%;
  padding: 1em;
}

.title-container {
  margin-bottom: 1.545em;
}

/*
 * content
 */

.content {
  padding: 32px;
}

/*
 * Cards
 */

.card {
  width: 100%;
  text-align: center;
  box-shadow: 1px 4px 8px 2px var(--box-shadow);
  transition: 0.7s;
  border-radius: 1em;
  cursor: pointer;
  background-color: var(--primary-color);
}

.card a {
  text-decoration: none;
  color: var(--secondary-color);
}

.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  font-size: large;
  padding: 1em;
  background-color: #000000a8;
  width: 100%;
  z-index: 1;
}

.card-rating {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: large;
  background-color: var(--btn);
  padding: 0.1em 1em;
  border-bottom-left-radius: 1em;
  z-index: 1;
}

.card-rating .fa {
  font-size: smaller;
  padding: 0.3em 0.8em 0.3em 0;
  color: gold;
}

.img-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s ease;
  max-height: 600px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.img-container:hover .img-res {
  transform: scale(1.1);
}

.img-container:hover .card-title p {
  transform: scale(0.858);
}

.img-container::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    71.9deg,
    rgba(53, 76, 98, 0.71) -3.77%,
    rgba(158, 43, 43, 0.37) 92.46%
  );
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.img-resto-home {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.img-res-detail {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 1px 4px 8px 2px var(--box-shadow);
  transition: 0.7s;
  border: 1em solid var(--secondary-color);
}

.card-content {
  padding: 1.4em 2em;
  font-size: 14px;
  text-align: left;
}

.card-content-title {
  color: black;
  font-weight: bold;
  padding-bottom: 0.376em;
}

.truncate {
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  background-color: var(--primary-color);
}

.truncate2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  background-color: var(--primary-color);
}

/* HOME */
#list-rest {
  display: grid;
  grid-gap: 1.545em;
  background-color: var(--primary-color);
}

/* DETAIL */
#detail-rest {
  font-size: 1em;
}

.detail {
  display: grid;
  grid-gap: 1.545em;
  font-size: 1em;
}

.detail h3 {
  font-size: 1.5em;
  padding: 1em 1em 0 1em;
  background-color: var(--primary-color);
  font-weight: bold;
  border: 0.5px solid var(--secondary-color);
  border-width: 0 0 0.5px;
}

.category {
  padding: 0.3em 1em;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  margin-right: 2px;
  border-radius: 1.5em;
}

.detail-menu h4 {
  font-weight: bold;
  font-size: 1.37em;
  padding: 1em;
  background-color: var(--primary-color);
  border: 0.5px solid var(--secondary-color);
  border-width: 0 0 0.5px;
}

.detail-food {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
}

.detail-food li {
  padding: 0.5em 0;
  display: block;
  text-decoration: none;
  background-color: var(--primary-color);
  border: 0.5px solid var(--secondary-color);
  border-width: 0 0 0.5px;
}

.detail-drink {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
}

.detail-drink li {
  padding: 0.5em 0;
  display: block;
  text-decoration: none;
  background-color: var(--primary-color);
  border: 0.5px solid var(--secondary-color);
  border-width: 0 0 0.5px;
}

.detail-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 0;
  margin-bottom: 0;
}

.detail-info li {
  position: relative;
  display: block;
  padding: 0.6em;
  color: var(--font-color);
  text-decoration: none;
  background-color: var(--primary-color);
  border: 0.5px solid var(--secondary-color);
  border-width: 0 0 0.5px;
}

/* DETAIL REVIEW */
.detail-review {
  max-width: 100%;
  font-size: 1em;
  text-align: center;
}

.detail-review-item {
  border: 1px solid var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 1em;
  box-shadow: 1px 2px 4px 2px var(--box-shadow);
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em;  
  border-bottom: 1px solid var(--secondary-color);
}

.review-name {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.review-date {
  font-size: 0.8em;
  font-weight: lighter;
}

.review-body {
  padding: 1.5em;
}

/*
* footer
*/

footer {
  min-height: 75px;
  padding: 18px;
  background-color: white;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);  
}
 
footer p {
  text-align: center;
  color: #aaaaaa;
  padding: 2px;
}
 
footer p a {
  color: #db0000;
  text-decoration: none;
}

/* Button */

.btn-content {
  font-family: "Comfortaa", cursive;
  margin: 1.3em;
  padding: 0.375em 0.75em;
  font-weight: 700;
  color: white;
  text-align: center;
  vertical-align: middle;
  background-color: var(--btn);
  border: 1px solid transparent;
  margin: 1.3em 0;
  font-size: xx-large;
  border-radius: 0.276em;
  cursor: pointer;
  text-decoration: none;
}

.btn-content:hover {
  background-color: var(--btn-hover);
}

.btn-review {
  font-family: 'Comfortaa', cursive;
  padding: 0.375em 0.75em;
  font-weight: 700;
  color: white;
  text-align: center;
  vertical-align: middle;
  background-color: var(--btn);
  border: 1px solid transparent;
  font-size: medium;
  border-radius: 0.276em;
  cursor: pointer;
  text-decoration: none;
}

.btn-review:hover {
  background-color: var(--btn-hover);
}

/* Skip link */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: rgb(0, 162, 255);
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

/* Like */
.like {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #db0000;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
